<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSS PRODUTOS DIGITAIS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>

    <header>
        <div>
            <h1> Api <small>Subheading</small></h1>
        </div>
    </header>
    
    <section class="bg">
        <div class="container">
           <div id="tab-1" class="prod_tab  ativo " style="display: block;">

                <div class="box_home first">                        
                    <h3>
                    <a href="cx" title="saiba mais">
                        CPF - Consultas</a>
                    </h3>
                    <a href="cx" class="mais" title="saiba mais"> saiba mais </a>
                    <p class="valor"> 9,90 </p>
                </div>

                <div class="box_home first">                        
                    <h3>
                    <a href="cx" title="saiba mais">
                        CNPJ - Consultas</a>
                    </h3>
                    <a href="cx" class="mais" title="saiba mais"> saiba mais </a>
                    <p class="valor"> 9,90 </p>
                </div>

                <div class="box_home first">                        
                    <h3>
                    <a href="cx" title="saiba mais">
                        CEP - Consultas</a>
                    </h3>
                    <a href="cx" class="mais" title="saiba mais"> saiba mais </a>
                    <p class="valor"> 29,90 </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <p>© 
            <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer" class="text-reset">
                MSS</a> 2020. All rights reserved.
            </p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>